*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
  padding: 0;
  margin: 0px;
}

.App {
  text-align: center;
}
.App a {
  text-decoration: none;
  transition: all 0.3s ease;
}
.App a:hover {
  text-decoration: underline;
}
.App-logo {
  height: 50px;
}
.Btn {
  display: contents;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  padding: 8px;
}
.fa-bars {
  font-size: 45px;
  color: #fff;
  margin-right: 10px;
}
.Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 15px;
  background: white;
  border: white;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  transition: all 0.3s ease;
}
.Container-info:hover {
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.2);
}
.Info {
  width: 100%;
  padding: 15px;
  margin: 15px;
}
.Container-info h2 {
  font-size: 18px;
  font-weight: bold;
}
.Container-info h3 {
  font-size: 14px;
  font-weight: normal;
}
.Data-content {
  margin-top: 80px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
    width: 100%;
    top: 0;
    height: 50px;
    position: fixed;
    top: 0;
}
.App-header,
.Links-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(58, 57, 57);
}

.Links-content a {
  margin-right: 10px;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .Container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1600px) {
  .fa-bars {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 620px) {
  .Links-content {
    display: none;
  }
  .fa-bars {
    display: block;
    visibility: visible;
  }
}